﻿@*@Html.Partial("Dropdown", Model)*@
@*Html.Partial("~/Views/easi/Dropdown.cshtml", Model)*@
@*@model EASi_POC.Models.easitable

    @{
        Layout = "~/Views/shared/_adminLayout.cshtml";
    }

    <!DOCTYPE html>

    <html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>Create</title>
    </head>
    <body>
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/jqueryval")


        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form">
                <h4>easitable</h4>
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="row">
                    @Html.LabelFor(model => model.Textfield, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-2">
                        @Html.EditorFor(model => model.Textfield, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Textfield, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="row">
                    @Html.LabelFor(model => model.Label, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-2">
                        @Html.EditorFor(model => model.Label, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Label, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="row">
                    @Html.LabelFor(model => model.DropField, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div>
                        @Html.DropDownList("DropField", (IEnumerable<SelectListItem>)ViewData["testdatabase"], "Select one")
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-2">
                        <input type="submit" value="Create" class="btn btn-default" />
                    </div>
                </div>
            </div>
        }

        <div>
            @Html.ActionLink("Back to List", "Index")
        </div>
    </body>
    </html>*@

@model EASi_POC.Models.easitable

@{
    Layout = "~/Views/shared/_adminLayout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Create</title>
</head>
<body>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")


    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form">
            <h4>easitable</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="row">
            @Html.LabelFor(model => model.Textfield, htmlAttributes: new { @class = "control-label col-md-2" })

            @Html.LabelFor(model => model.Label, htmlAttributes: new { @class = "control-label col-md-2" })

            @Html.LabelFor(model => model.DropField, htmlAttributes: new { @class = "control-label col-md-2" })
        </div>

        <div class="row">

            <div class="col-md-2">
                @Html.EditorFor(model => model.Textfield, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Textfield, "", new { @class = "text-danger" })
            </div>

            <div class="col-md-2">
                @Html.EditorFor(model => model.Label, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Label, "", new { @class = "text-danger" })
            </div>

            <div>
                @Html.DropDownList("DropField", (IEnumerable<SelectListItem>)ViewData["testdatabase"], "Select one")
            </div>
        </div>

            <a class="btn btn-danger" onclick="SendEmail()">Notify</a>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-2">
                    <input type="submit" value="Create" class="btn btn-default" />
                </div>
            </div>
        </div>
    }

    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>
</body>
</html>