﻿@*@model IEnumerable<EASi_POC.Models.easitable>



<p>
    @Html.DisplayNameFor(model => model.DropField)
</p>
<select class="dropdown" accesskey=-1 value="Please select a field">
    @foreach (var item in Model)
    {
        <option accesskey=@Html.DisplayFor(modelItem => item.ID)>
            @Html.DisplayFor(modelItem => item.DropField)
        </option>
    }
</select>*@
